<title>MTE2O</title>
        	 	<link rel="stylesheet" media="screen" href="../../static/bootstrap.min.css">
        	 	<link rel="stylesheet" href="../../static/bootstrap-grid.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
<h2>English to Odia </h2>

<form method=post action="">
    <table>
        {% for field in form %}
        <tr>
            <td>{{ field.label }}</td>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<button type="submit" class="btn btn-success">Translate</button>
</div>

<p>
    {% if result != None %}
<p> {{ result }} </p>
{% endif %}
</p>
